<section class="content-section signup" style="background-image: url({{ asset('assets/images/backgrounds/signup-bg.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="signup-container">
                    <h2 class="content-section-title">Sign Up</h2>
                    {{ form_start(registrationForm, { 'attr' : { 'class' : 'form form-signup' } }) }}

                    <div class="form-element">
                        {{ form_widget(registrationForm.firstname, { 'attr' : { 'placeholder' :  'First Name *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.firstname) }}
                    </div>

                    <div class="form-element">
                        {{ form_widget(registrationForm.lastname, { 'attr' : { 'placeholder' :  'Last Name *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.lastname) }}
                    </div>

                    <div class="form-element">
                        {{ form_widget(registrationForm.email, { 'attr' : { 'placeholder' :  'Email Address *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    
                    <div class="form-element">
                        {{ form_widget(registrationForm.username, { 'attr' : { 'placeholder' :  'User Name *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.username) }}
                    </div>

                    <div class="form-element">
                        {{ form_widget(registrationForm.plainPassword.first, { 'attr' : { 'placeholder' :  'Password *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>

                    <div class="form-element">
                        {{ form_widget(registrationForm.plainPassword.second, { 'attr' : { 'placeholder' :  'Password Confirmation *', 'required' : true } }) }}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                    
                    <div class="form-element">
                        <button class="btn btn--base btn--lg" type="submit">Sign Up</button>
                    </div>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</section>